body { 
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
    text-align: center; 
    margin: 0; 
    padding: 0; 
}
h2 { 
    color: #333; 
    margin-top: 50px; 
}
p { 
    color: #666; 
}
form { 
    margin-top: 20px; 
}
label { 
    color: #333; 
    display: block; 
    margin-top: 10px; 
}
input[type="email"] { 
    width: 250px; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
}
input[type="submit"] { 
    background-color: #4CAF50; 
    color: white; 
    padding: 15px 20px; 
    margin-top: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
input[type="submit"]:hover { 
    background-color: #45a049; 
}